body {
    font-family: 'DM Sans';
}

.hero {
    width: 100%;
    height: 90vh;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.content1 {
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;


   &__title {
    font-size: 42px;
    color: white;
    font-family: 'Dm Sans';
   }

   &__description {
    font-size: 16px;
    color: white;
    font-family: 'Dm Sans';
    margin: 20px 0;
   }

   &__btn {
    background-color: #ed9c2a;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Dm Sans';
    margin-top: 20px;
    cursor: pointer;
   }
   
}

#hello {
    color: #ed9c2a;
    margin-right: 5px;
}

.imgcontainer {
    width: 40%;
    height: 90vh;
    background-image: url('file:///Users/idadanielsson/Downloads/me-hero.png');
    background-position: center;
    background-size: cover;
    opacity: 80%;
 
}