.project {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    height: 90vh;
  }

  &__imgcontainer {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 40%;
      height: 350px;
    }

    &__img {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: 80%;
      }
    }
  }

  &__description {
    font-family: "Urbanist";
    font-size: 14px;
    padding: 10px;
    line-height: 25px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 20px;

      font-size: 16px;
    }
  }

  &__link {
    background-image: linear-gradient(#89bcda, #9dd5f6 170%);
    border: none;
    padding: 8px 40px 4px 40px;
    border-radius: 5px;
    font-family: "Urbanist";
    font-size: 24px;
    cursor: pointer;
    color: #fdfdfd;
    margin-bottom: 20px;

    &:hover {
      transition: all ease 0.7s;
      color: #474747;
    }
  }
}

.headingcontainer {
  width: 80%;
  display: flex;
  padding-left: 10px;
  height: 50px;

  @media screen and (min-width: 820px) {
    width: 80%;
  }

  &__heading {
    font-size: 24px;
    padding-left: 10px;
    font-family: "Urbanist";
    letter-spacing: -1px;
    line-height: 50px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #474747;
  }
}

.carousel.carousel-slider .control-arrow {
  margin: 0 20px;
  padding: 0;
}

.carousel-root {
  background-color: #fdfdfd;
}

.carousel .carousel-status {
  display: none;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: transparent;
}

.vl {
  height: 50px;
  border-left: 1px solid #9dd5f6;
}

.carousel .control-next.control-arrow:before {
  content: "";
  border: solid #474747;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  margin-bottom: 120px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.carousel .control-prev.control-arrow:before {
  content: "";
  border: solid #474747;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  margin-bottom: 120px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.control-dots {
  display: none;
}
