header {
  position: absolute;
  margin: 0;
  padding: 0;
}

.nav {
  position: absolute;
  z-index: 1;
  transform: translateX(-100%);
  transition: ease-in 0.4s;

  &__list {
    height: 120px;
    display: flex;
    justify-content: start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__link {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-family: "Urbanist";
    padding: 5px 0;

    @media screen and (min-width: 768px) {
      color: black;
    }
  }
}

.navActive {
  position: absolute;
  width: 100%;
  z-index: 1;
  width: 120px;
  transform: translateX(0%);
  transition: ease-out 0.4s;
  position: absolute;
  background-color: #fdfdfd;
}
