main {
   
 
}

.project {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252525;
   

    &__imgcontainer {
        display: flex;
        width: 70%;

        &__img {
            width: 40%;
            height: 500px;
        }

    }

    &__title {
        color: #e1aa34;
        margin-top: 40px;
        
    }

    &__description {
        color: white;
        margin-bottom: 40px;
    }

    &__btn {
        background-color: #ed9c2a;
        color: white;
        padding: 8px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-family: 'Dm Sans';
        cursor: pointer;
    }
}

.portfoliotitle {
    
        display: flex;
        align-items: end;
        padding-left: 115px;
        padding-top: 80px;
        font-size: 36px;
        font-family: 'DM Serif Display';
        letter-spacing: -2px;
        line-height: 50px;
        color: white;
}

#dot {
    color: #ed9c2a;
}